.name
{
    color: #878787;
    font-size: 14px;
    font-weight: 500;
}

.price
    {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #212121;
    }

  